.lipp {
    /*Kui neid muudad, muuda mitteaktiivne väärtusi ka*/
    margin: -5px 5px 5px 5px !important;
}

.wrap {
	min-height:100%;
	position:relative;
}

.footer {
	width:100%;
	height:200px;
	position:absolute;
	bottom:0;
	left:0;

}

.content {
    
    padding-bottom:200px;
}
.mitteaktiivne {
    position:relative;
    bottom: 35px;
    left: 5px;
    width:40px;
    height: 30px;
    background:#FFFFFF;
    opacity:0.7;
    margin-bottom: -30px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.footer a {
    color: #FFFFFF !important;
}

.navbar-brand {
    font-size: 30px;
    line-height: 42px;
    padding-top: 20px;
    color: #FFFFFF !important;
}

.navbar-default {
    background-color: #1791FF;
    color: #FFFFFF !important;
}

.navbar-default .navbar-nav li a {
    color: #FFFFFF !important;
}

.navbar-default .navbar-nav li a:hover {
    color: #DDDDDD !important;
}

.jumbotron h1 { 
    font-size: 50px;
}

.jumbotron { 
    padding-left : 20px !important;
    padding-right : 20px !important;
    padding-top: 10px !important;
    padding-bottom: 60px !important
}
